{% extends 'layout/base.html' %}

{% block content %}
    <h1 class="text-center text-success">CHI TIẾT SẢN PHẨM</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <img src="{{ book.image }}" class="img-fluid" alt="{{ book.name }}" />
        </div>
        <div class="col-md-8 col-sm-6">
            <h1>{{ book.name }}</h1>
            <h5>Tác giả: {{ book.author }}</h5>
            <p>Nội Dung: {{ book.description|safe }}</p>
            <h3>Giá: {{ "{:,.1f}".format(book.price) }} VNĐ</h3>
        </div>
    </div>
{% endblock %}