* {
    font-family: Tahoma;
}

.header {
    top: 0;
    position: sticky;
    z-index: 1;
    height: 4rem;
    font-size: 1.2rem;
}

.container {
    margin-top: 10px;
    padding-top: 10px;
}

.card-img-top {
    height: 20rem;
}

.books:hover {
    box-shadow: 0 0 30px #166987;
}

h4.card-title {
    font-size: 1.2rem;
}

.card-title {
    font-weight: 550;
}