<!--<div class="mt-4 p-5 bg-dark text-white rounded">-->
<!--  <h1>E-commerce Website</h1>-->
<!--  <p>Duong Huu Thanh &copy; 2022</p>-->
<!--</div>-->
<footer class="site-footer">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">NHÀ SÁCH</p>
                <p class="copyright-text">Tsần Thị Bích Huyền &copy; 2022 </p>
                <p class="copyright-text">Phan Thị Hồng Nhi &copy; 2022 </p>
            </div>
        </div>
    </div>
</footer>